<div class="row">
  <div class="col-md-8 col-md-offset-2 header">
    <%= image_tag 'usher_logo_hanya.png', class: 'visible-xs background-logo-hannya', width: '100%' %>
    <h1 class="lead text-center ryan-top-hannya">RYAN USSHER</h1>
  </div>
</div>

<div class="row carousel">
  <div class="col-md-8 col-md-offset-2">
    <div class="slick-carousel">
      <%= image_tag 'carousel_1.png', width: 400, class: 'carousel-image', data: { lazy: 'carousel_1.png'} %>
      <%= image_tag 'carousel_2.png', width: 400, class: 'carousel-image', data: { lazy: 'carousel_2.png'}  %>
      <%= image_tag 'carousel_3.png', width: 400, class: 'carousel-image', data: { lazy: 'carousel_3.png'}  %>
      <%= image_tag 'carousel_4.png', width: 400, class: 'carousel-image', data: { lazy: 'carousel_4.png'}  %>
      <%= image_tag 'carousel_5.png', width: 400, class: 'carousel-image', data: { lazy: 'carousel_5.png'}  %>
      <%= image_tag 'carousel_6.png', width: 400, class: 'carousel-image', data: { lazy: 'carousel_6.png'}  %>
      <%= image_tag 'carousel_7.png', width: 400, class: 'carousel-image', data: { lazy: 'carousel_7.png'}  %>
    </div>
  </div>
</div>

<div class="row" data-aos="fade-down">
  <div class="col-md-10 col-md-offset-1">
    <div class="small-bio">
      <h1 class="lead text-center">CUSTOM TATTOING</h1>
      <hr>
      <h4 class="lead text-center">Lighthouse Tattoo artist Ryan Ussher has a bold style of tattooing that works brilliantly with Japanese imagery. His bold shading and exciting composition reflect wonderfully in the Hannyas and dragons Japanese tattooing has to offer and nothing shows that more than Ussher's large tattoos. Bodysuits and sleeves are just some of the epic tattoos Ussher creates and each piece is filled with his animated style.</h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4" data-aos="zoom-in" data-aos-duration="1500">
    <div class="big-mask">
      <%= image_tag 'mask1.png' %>
    </div>
    <br>
    <div class="mask-button text-center">
      <%= link_to "About", about_path, class: "btn btn-default" %>
    </div>
  </div>
  <div class="col-md-4" data-aos="zoom-in" data-aos-duration="1500">
    <div class="big-mask">
      <%= image_tag 'mask3.png' %>
    </div>
    <br>
    <div class="mask-button text-center">
      <%= link_to "Gallery", gallery_path, class: "btn btn-default" %>
    </div>
  </div>
  <div class="col-md-4" data-aos="zoom-in" data-aos-duration="1500">
    <div class="big-mask">
      <%= image_tag 'mask2.png' %>
    </div>
    <br>
    <div class="mask-button text-center">
      <%= link_to "Contact", contacts_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
